<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <link href="css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Test layout</h2>
    @RenderBody()
</body>
</html>