@using WebApp.Models
@model AppUser
@{
    Layout = "Views._Layout";
    ViewBag.Title = "Home";
}
<p>User id: @Model.UserId</p>
<p>User name: @Model.FirstName</p>
<p>User surname: @Model.SecondName</p>
<p>User birthdate: @Model.Birthdate</p>